

<div>
<%= @game.player_1.name %> vs. <%= @game.player_2.name %> <br>
</div>
<div>
<%= @game.player_1.name %>: <%= @game.player_1.hit_points %>HP <br>
</div>
<div>
<%= @game.player_2.name %>: <%= @game.player_2.hit_points %>HP <br>
<div>
  <%= @game.current_turn.name %>'s turn <br>
</div>

<form action="/attack" method="post">
  <input type="submit" value="Attack">
</form>
